<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "http://127.0.0.1:5000/static/css/estilo_lista_pacientes.css">
    <title>Lista de Pacientes</title>
</head>
<body>
    <header>
        <img src = "http://127.0.0.1:5000/static/img/logo.png" alt = "Logo da Dog Dodói" />
        <div class="menu">
            <a href = "/pacientes">
                <button type = "button" class = "botao" style="background-color: rgba(83, 120, 164, 0.76); color: white; border: none;">INSERÇÃO DE PACIENTES</button>
            </a>

            <p class="frase">COMPROMETIDOS COM A SAÚDE E FELICIDADE DE SEU PET!</p>
            
            <a href = "/agendamento_consultas">
                <button type = "button" class = "botao" style="background-color: rgba(83, 120, 164, 0.76); color: white; border: none;">AGENDAMENTO DE CONSULTAS</button>
            </a>
        </div>
    </header>

    <div class="linha"></div>

    <div class="fundo">
        <nav class="espacamento">
            <form action = "/idade_humana">
                <button type = "submit" class = "botao"; style="background-color: #D3DDE9; color: #405077; border: none;">CALCULADORA (IDADE HUMANA DO ANIMAL)</button>
            </form>
            <form action = "/medicamento">
                <button type = "submit" class = "botao"; style="background-color: #D3DDE9; color: #405077; border: none;">CALCULADORA (MILIGRAMAS/PESO CORPORAL DO MEDICAMENTO)</button>
            </form>
            <form action = "/quantidade_mililitros_soro">
                <button type = "submit" class = "botao"; style="background-color: #D3DDE9; color: #405077; border: none;">CALCULADORA (MILILITROS DE SORO)</button>
            </form>
        </nav>
    </div>

    <div class="linha"></div>
    
    <h1>LISTA DE PACIENTES</h1>
    <ul>
        {% for paciente in pacientes %}
        <li>{{ paciente[1] }} - {{ paciente[2] }} - {{ paciente[3] }} - {{ paciente[4] }} - {{ paciente[5] }} - {{ paciente[6] }}
            <ul>
                <li><a href="/verificar_edicao_cadastro/{{ loop.index0 }}">EDITAR</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/pacientes">ADICIONAR PACIENTE</a>

    <div class="fundo_rodape" style="padding-top: 55px;">
        <div>
            <a href="https://maps.google.com">
                <img style = "width: 350px; padding-left: 50px;" src = "http://127.0.0.1:5000/static/img/localizacao.png" alt = "Localização"/>
            </a>
            </div>
        <div>
            <a href="https://www.instagram.com">
                <img style = "width: 250px; padding-left: 40px;" src = "http://127.0.0.1:5000/static/img/instagram.png" alt = "Instagram"/>
            </a>
            <a href="https://www.facebook.com">
                <img style = "width: 250px; padding-left: 40px;" src = "http://127.0.0.1:5000/static/img/facebook.png" alt = "Facebook"/>
            </a>
        </div>
        <div>
            <a href="https://www.whatsapp.com">
                <img src = "http://127.0.0.1:5000/static/img/whatsapp.png" alt = "WhatsApp"/>
            </a>
            <img src = "http://127.0.0.1:5000/static/img/telefone.png" alt = "Telefone"/>
        </div>
            <img class="img_rod" src = "http://127.0.0.1:5000/static/img/rodape.png" alt = "Imagem de Animais"/>
    </div>

    <footer>
        <p>© Clínica Veterinária Dog Dodói - Todos os direitos reservados | Desenvolvido por: Gabriela F. Jesuino, Maria Eduarda G. dos Santos, Giovana B. Pereira e Ana Luiza Pereira</p>
    </footer>
</body>
</html>