<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/css/estilo_pacientes.css">
    <title>Inserção de Pacientes</title>
</head>
<body>
    <h1>INSERÇÃO DE PACIENTES</h1>
    <form action="/verificar_pacientes" method = "post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="especie">Espécie:</label>
        <input type="text" id="especie" name="especie">
        <label for="raca">Raça:</label>
        <input type="text" id="raca" name="raca">
        <label for="peso">Peso:</label>
        <input type="number" id="peso" name="peso" step = "0.01" required>
        <label for="nome_tutor">Nome do tutor:</label>
        <input type="text" id="nome_tutor" name="nome_tutor">
        <label for="telefone">Telefone:</label>
        <input type="number" id="telefone" name="telefone">
        <button type="submit">PRONTO</button>
    </form>
</body>
</html>